################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TennisApp/bin/Debug/net6.0
/TennisApp/obj
/TennisApp/.vs/TennisApp
